@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Netflix Sans";
  src: url("/fonts/NetflixSans-Regular.otf") format(opentype);
  src: url("/fonts/NetflixSans-Regular.woff2") format(woff2);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Netflix Sans";
  src: url("/fonts/NetflixSans-Medium.otf") format(opentype);
  src: url("/fonts/NetflixSans-Medium.woff2") format(woff2);
  font-weight: medium;
  font-style: medium;
}
@font-face {
  font-family: "Netflix Sans";
  src: url("/fonts/NetflixSans-Light.otf") format(opentype);
  src: url("/fonts/NetflixSans-Light.woff2") format(woff2);
  font-weight: Light;
  font-style: Light;
}
@font-face {
  font-family: "Netflix Sans";
  src: url("/fonts/NetflixSans-Bold.otf") format(opentype);
  src: url("/fonts/NetflixSans-Bold.woff2") format(woff2);
  font-weight: bold;
  font-style: bold;
}

* {
  font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@layer base {
  body {
    @apply bg-[#141414] text-white !scrollbar-track-transparent !scrollbar-thumb-red-600 !scrollbar-thin;
  }

  header {
    @apply fixed top-0 z-50 flex w-full items-center justify-between p-4 transition-all lg:px-10 lg:py-6;
  }
}

@layer components {
  .headerLink {
    @apply cursor-pointer text-sm font-light text-[#e5e5e5] transition duration-[400] hover:text-[#b3b3bb];
  }
  .bannerButton {
    @apply flex items-center gap-x-2 rounded pl-4 pr-5 py-1.5 text-sm font-semibold transition hover:opacity-75 md:py-2.5 md:pl-7 md:pr-8 md:text-xl;
  }
}
